/* events_calendar/static/events_calendar/css/styles.css */

.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
  font-size: 0.8rem;
}

.calendar tr, .calendar td {
  border: 1px solid;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-size: 1.125rem;
}

.calendar td {
  width: 5%;
  height: 5%;
  padding: 1% 1% 1% 1%;
  vertical-align: top;
}

.month {
  font-size: 25px;
  font-size: 1.8rem;
}

.date {
  font-size: 16px;
  font-size: 1rem;
  padding: 0% 1% 1% 0%;
  /*vertical-align: top;*/
}

.event_day {
  font-size: 16px;
  font-size: 1rem;
  min-height: 50px;
  min-width: 50px;
}

.empty_day {
  font-size: 16px;
  font-size: 1rem;
  min-height: 15px;
  min-width: 15px;
}

.other_month {
  font-size: 16px;
  font-size: 1rem;
  min-height: 5px;
  min-width: 5px;
}

.taken_task{
  color: #84BD2B;
}

.urgency_urgent{
  color: #DE372C;
}

.urgency_important{
  color: #DE372C;
}

.urgency_medium{
  color: #F1CE1C;
}

.past_event{
  color: rgb(102, 102, 102)
}
