/* events_calendar/static/events_calendar/css/styles.css */

.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

.taken_task{
  color: #84BD2B;
}

.urgency_urgent{
  color: #DE372C;
}

.urgency_important{
  color: #DE372C;
}

.urgency_medium{
  color: #F1CE1C;
}

.past_event{
  color: rgb(102, 102, 102)
}
