<!-- events/templates/base.html -->

{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap -->
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block stylesheet %}
  {% endblock %}

  <title>{% block title %} Veranstaltungen {% endblock %}</title>



</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> UT-Connewitz Veranstaltungen </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ecal:calendar' %}"> &#128197; Kalender </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile:hub' %}"> &#10003; Dienste und Einstellungen </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"> &#8618; Ausloggen </a>
        </li>
      </ul>
    </div>
  </nav>


  {% block content %}
  {% endblock %}

  {% block script %}
  {% endblock %}
</body>
</html>
