<!-- events_calendar/templates/events_calendar/calendar.html -->

{% extends 'events_calendar/base.html' %}

{% block title %}
Kalender
{% endblock %}

{% block content %}

<div class="clearfix">
	<a class="btn btn-success left" href="{% url 'ecal:calendar' %}?{{ prev_month }}"> Vorheriger Monat </a>
	<a class="btn btn-success right" href="{% url 'ecal:calendar' %}?{{ next_month }}"> Nächster Monat </a>
  {% if request.user.is_staff %}
  <div class="d-grip gap-2 col-6 mx-auto">
    <a class="btn btn-success" href="{% url 'ecal:event_new' %}"> Veranstaltung hinzufügen </a>
    <a class="btn btn-success" href="{% url 'ecal:task_new' %}"> Aufgabe hinzufügen </a>
  </div>
  {% endif %}
</div>

<table border="0" cellpadding="0" cellspacing="0" class="calendar">
  {{ calendar }}
</table>
{% endblock %}
