{% extends 'events_calendar/base.html' %}

{% block title %}
Aufgabe
{% endblock %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'events_calendar:calendar' %}"> Kalender </a>
</div>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<h2> Aufgabe </h2>
<form method="post">
  <table class="form form-table">
    {{ task_form.as_p }}
    {% csrf_token %}
    {% if request.user.is_staff %}
    <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Speichern </button></td></tr>
    {% endif %}
  </table>
</form>
<hr>

<h2> Übernehmen? </h2>
<form method="post">
  <table class="form form-table">
    {{ volunteering_form}}
    {% csrf_token %}
    <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Speichern </button></td></tr>
  </table>
</form>
<hr>

{% endblock %}
